<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

<title>UIkit icons extended</title>

<meta name="title" content="UIkit icons extended">
<meta name="description" content="Extend your UIkit icons set with lots of useful icons. On top of that you can easily search both extended and default icons in simple search.">
<meta name="keywords" content="uikit, icons, extension, svg, flat">
<meta name="robots" content="index, nofollow">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="language" content="English">
<meta name="author" content="Ondřej Hajný <hajnyon@gmail.com>">

<link rel="shortcut icon" href="./favicon.ico" type="image/x-icon"/>
<link
rel="icon" href="./favicon.ico" type="image/x-icon"/>

<!-- UIkit CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.6/css/uikit.min.css"/>
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
<style>
	.anchor > a {
		color: inherit;
		text-decoration: none;
	}
	.anchor > a:before {
		content: '#';
		position: absolute;
		width: 25px;
		margin-left: -25px;
		color: #999;
	}
	.hidden-up-to-s {
		display: none;
	}
	@media(max-width: 640px) {
		/* @breakpoint-small */
		.anchor > a {
			margin-left: 20px;
		}
	}
	@media(min-width: 640px) {
		/* @breakpoint-small */
		.hidden-up-to-s {
			display: block;
		}
	}
	.swiper-container {
		width: 100%;
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.swiper-slide {
		background-position: center;
		background-size: cover;
		width: 300px;

	}
</style>
