<!DOCTYPE html>

<html lang="en">
    <head>
        {% include 'head.twig' %}
    </head>

    <body>
        <div class="uk-container-expand">
            {% include 'nav.twig' %}
        </div>
        <div class="uk-container uk-container-xsmall">
            <div class="uk-section uk-text-center">
                {% include './parts/landing.twig' %}
            </div>

            <div id="installation" class="uk-section">
                {% include './parts/installation.twig' %}
            </div>

            <div id="icons" class="uk-section">
                {% include './parts/icons.twig' %}
            </div>

            <div id="about" class="uk-section">
                {% include './parts/about.twig' %}
            </div>
        </div>

        {% include './scripts.twig' %}

    </body>
</html>
