<div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky">
                <nav
                    class="uk-navbar-container uk-flex-column uk-flex-top uk-box-shadow-medium"
                    uk-navbar
                    uk-toggle="media: @s; cls: uk-flex-row uk-flex-top; mode: media"
                >
                    <button
                        type="button"
                        data-uk-toggle="target: .navbar-collapse; cls: hidden-up-to-s"
                        class="uk-navbar-toggle uk-hidden@s"
                        uk-navbar-toggle-icon
                    ></button>
                    <div class="navbar-collapse hidden-up-to-s">
                        <div class="uk-navbar-right">
                            <a class="uk-navbar-item uk-logo" href="#">
                                <img src="./logo.png" alt="UIkit icons extended logo" />
                            </a>
                            <a class="uk-navbar-item uk-logo" href="#">UIkit icons extended</a>

                            <ul
                                uk-toggle="media: @s; cls: uk-navbar-nav uk-padding-remove; mode: media"
                                class="uk-nav uk-nav-primary uk-padding-small"
                            >
                                <li><a href="#installation" uk-scroll>Installation</a></li>
                                <li><a href="#icons" uk-scroll>Icons</a></li>
                                <li>
                                    <a href="#about">About</a>
                                </li>
                                <li>
                                    <a href="https://www.npmjs.com/package/uikit-icons-extended" target="_blank">NPM <span uk-icon="link"></span></a>
                                </li>
                                <li>
                                    <a href="https://gitlab.com/hajnyon/uikit-icons-extended" target="_blank">Gitlab <span uk-icon="link"></span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>