<h2 class="uk-heading-divider anchor">
    <a href="#about">About</a>
</h2>

<p>
    At company I work for we really enjoy using UIkit framework. However there are few things missing such as more advanced input
    components (datetime picker, select with groups and search etc.) and lack of icons. Yes we can choose different icons set but we
    like UIkit simplicity and usage. Therefore I created simple tool for extending icons and started adding more custom icons. Shortly
    after that I realize more developers and designers could benefit from this extension. And here we are. Enjoy!
</p>

<h3>What problem does it solve?</h3>

<p>Lack of icons in default UIkit icons set.</p>

<h3>How are icons created?</h3>

<p>
    I use <a href="http://figma.com" target="_blank">Figma</a> for designing the icons. After that I use few npm packages to modify
    the created svg code. You can browse through scripts in project's repository.
</p>

<div class="uk-margin uk-flex uk-flex-center">
    <a
        href="https://gitlab.com/hajnyon/uikit-icons-extended"
        target="_blank"
        class="uk-icon-link uk-margin-right"
        uk-icon="gitlab"
    ></a>
    <a
        href="https://www.npmjs.com/package/uikit-icons-extended"
        target="_blank"
        class="uk-icon-link uk-margin-right"
        uk-icon="npm"
    ></a>
</div>

<div class="uk-margin uk-flex uk-flex-center">
    made with <span uk-icon="heart" class="uk-margin-small-right uk-margin-small-left uk-text-danger"></span> by&nbsp;<a
        href="http://hajnyon.cz"
        class="uk-link-muted"
        >hajnyon</a
    >
</div>