<h2 class="uk-heading-divider anchor">
    <a href="#installation">Installation</a>
</h2>

{% set npminstall = "npm install uikit-icons-extended"%}
{% set tscode = "import UKExtendedIcons from 'uikit-icons-extended/dist/js/uk-extended.min.js';
UIkit.use(UKExtendedIcons);"%}
{% set scripttag = '&lt;script src=&quot;path/to/uk-extended.min.js&quot;&gt;&lt;/script&gt;'%}
{% set cdn = '&lt;script src=&quot;https://cdn.jsdelivr.net/npm/uikit-icons-extended@1/dist/js/uk-extended.min.js&quot;&gt;&lt;/script&gt;'%}

<div class="uk-child-width-1-1" uk-grid>
    <div>
        <h3><span uk-icon="npm"></span> NPM</h3>
        <button class="ctc uk-button uk-button-link uk-text-muted uk-align-right" data-clipboard-text="{{npminstall}}" uk-tooltip="Copy to clipboard">
            <span uk-icon="sign-in"></span>
        </button>
        <p><code>{{npminstall}}</code></p>

        <h4 class="uk-h5">TypeScript import</h4>

        <button class="ctc uk-button uk-button-link uk-text-muted uk-align-right" data-clipboard-text="{{tscode}}" uk-tooltip="Copy to clipboard">
            <span uk-icon="sign-in"></span>
        </button>
        <pre><code>{{ tscode }}</code></pre>
    </div>
    <div>
        <h3><span uk-icon="download"></span> Download <a href="./uk-extended.min.js" download>file directly</a></h3>
        <div>
            <button class="ctc uk-button uk-button-link uk-text-muted uk-align-right" data-clipboard-text="{{scripttag}}" uk-tooltip="Copy to clipboard">
                <span uk-icon="sign-in"></span>
            </button>
            <pre><code>{{scripttag}}</code></pre>
        </div>
    </div>
    <div>
        <h3><span uk-icon="cloud-download"></span> Use CDN</h3>
        <div>
            <button class="ctc uk-button uk-button-link uk-text-muted uk-align-right" data-clipboard-text="{{cdn}}" uk-tooltip="Copy to clipboard">
                <span uk-icon="sign-in"></span>
            </button>
            <pre><code>{{cdn}}</code></pre>
            <p>The SRI hashes can be found on <a href="https://www.jsdelivr.com/package/npm/uikit-icons-extended" target="_blank">JS<b>DELIVR</b></a>.</p>
        </div>
    </div>
</div>