<h1>Extend your UIkit icons library</h1>

<div class="uk-flex uk-flex-center">
	<div>
		<a href="https://gitlab.com/hajnyon/uikit-icons-extended/pipelines" target="_blank">
			<img alt="Extended icons count badge" aria-hidden="true" src="https://gitlab.com/hajnyon/uikit-icons-extended/badges/master/pipeline.svg"/>
		</a>
		<a href="https://www.npmjs.com/package/uikit-icons-extended" target="_blank">
			<img alt="Extended icons count badge" aria-hidden="true" src="https://img.shields.io/npm/v/uikit-icons-extended.svg"/>
		</a>
		<a href="https://hajnyon.gitlab.io/uikit-icons-extended/#icons" target="_blank">
			<img alt="Extended icons count badge" aria-hidden="true" src="https://img.shields.io/endpoint?url=https%3A%2F%2Fhajnyon.gitlab.io%2Fuikit-icons-extended%2Fbadge.json"/>
		</a>
		<a href="https://www.jsdelivr.com/package/npm/uikit-icons-extended" target="_blank">
			<img alt="jsDelivr hits icon" src="https://data.jsdelivr.com/v1/package/npm/uikit-icons-extended/badge"/>
		</a>
		<a href="https://bundlephobia.com/result?p=uikit-icons-extended" target="_blank">
			<img alt="BundlePhobia min size" src="https://badgen.net/bundlephobia/min/uikit-icons-extended"/>
		</a>
	</div>
</div>


<div class="uk-flex uk-flex-center">
	<div class="uk-width-1-1">

		<div
			class="swiper-container">
			<!-- Additional required wrapper -->
			<div class="swiper-wrapper">

				{% for icon in icons %}
					{% if icon.type == 'extended' %}
						<div class="swiper-slide">
							<span uk-icon="icon: {{ icon.name }}; ratio: 2;"></span>
						</div>
					{% endif %}
				{% endfor %}
			</div>
			<!-- If we need pagination -->
			<div class="swiper-pagination"></div>

		</div>


	</div>
</div>
